@model string

<style type="text/css">

    body {
        font-family: Helvetica, sans-serif;
    }

    h2, h3 {
        margin-top: 0;
    }

    form {
        margin-top: 15px;
    }

        form > input {
            margin-right: 15px;
        }


    #buttonhide {
        background: transparent;
        border: none !important;
        font-size: 0;
    }
</style>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h4 class="display-4">Duygu Tespiti</h4>
        <div class="col-md-2"></div>
        <ul class="list-group list-group-horizontal" bgcolor="#00FF00">

            @{  paralleldots pd = new paralleldots("t4QbBcz58Iji4ClW9en0wsw5hl6dEm3FadLm79PsYpo");
                string path = Model;
                string path_to_image = @"C://Users/isikh/Documents/GitHub/eMood/e-Mood/wwwroot/CameraPhotos/"+path;
                string facial_emotion = pd.facial_emotion(path_to_image);

                string a = @"tag";
                string[] emotions = facial_emotion.Split(a);
                string s = @"""";
                string[] d = emotions[1].Split(s);
                string result = d[2];
                string result2 = d[2];
                if (result == "Disgust")
                    result2 = "Sad";
                else if (result == "Surprise")
                    result2 = "Happy";
                else if (result == "Fear")
                    result2 = "Sad";
                else if (result == "Neutral")
                    result2 = "Happy";
            }


            <li class="list-group-item" bgcolor="#00FF00">
                <label>
                    <a asp-action="List" asp-controller="Activity" asp-route-kind_of_emotion="@result2" asp-route-inside="true" class="btn btn-success">@result</a>
                    <span class="checkmark"></span>
                </label>
            </li>
            
        </ul>
    </div>
</div>
