<div class="jumbotron jumbotron-fluid" style="min-height:455px; padding-top: 20px; padding-bottom: 20px; ">
    <div class="container text-center">
        <p style="font-style: oblique;"><h3>Duygu Durumunuzu Doğru Tespit Edebilmemiz İçin Lütfen Kameraya Yüzünüzü Gösteriniz</h3></p>
        <p> Kamera Erişimine İzin Vermeyi Unutmayın!</p>
        <div class="col-md-4" style="padding-top: 20px;">
            <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body" style="width:100px;height:40px;">
                    <div id="my_camera" class="embed-responsive embed-responsive-21by9" style="width: 1000px; height: 300px; left:100px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container text-center" style="padding-top:35px;">
    <form>
        <input type="button" class="btn btn-success" value="Fotoğraf Çek" onClick="take_snapshot()" style="background-color:#CB47A7;">
    </form>
    <br><br><br>
    <!-- <div style="max-width:100px;">-->
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <label>
                    <br><br><br><br><br><br>
                    <a asp-action="Index" asp-controller="ParallelDots" class="btn btn-success" style="background-color:#CB47A7;">Devam Et</a>
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="col-sm">
                <div class="panel panel-default">
                    <div class="panel-heading"></div>
                    <div class="panel-body">
                        <div id="results"></div>
                    </div>
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>

<!--</div>-->
<!-- A button for taking snaps -->

<div>
    <div class="col-md-2">    </div>
    <!-- First, include the Webcam.js JavaScript Library -->
    <script src="~/webcamjs/webcam.js"></script>
    <!-- Configure a few settings and attach camera -->
    <script language="JavaScript">
        Webcam.set({
            width: 920,
            height: 300,
            image_format: 'jpeg',
            jpeg_quality: 90
        });
        Webcam.attach('#my_camera');
    </script>

    <!-- Code to handle taking the snapshot and displaying it locally -->
    <script language="JavaScript">
        function take_snapshot() {
            // take snapshot and get image data
            Webcam.snap(function (data_uri) {
                // display results in page
                document.getElementById('results').innerHTML =
                    '<img style="left:500px;max-width:500px; height:300px;"src="' +
                    data_uri +
                    '"/>';
                Webcam.upload(data_uri,
                    '/Camera/Capture');
            });
        }
    </script>
</div>

</div>
